:root {
  --bg-color: lightgrey;
  --main-font-size: 18px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--bg-color);
}
a {
  display: block;
}
.header {
  margin-top: 20px;
  margin-bottom: 20px;
}
.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.homework__list {
  font-size: var(--main-font-size)
}
